:root {
  --header-bg-color: #ffffff;
  --main-bg-color: #e5e5e5;
  --footer-bg-color: #2f303a;
  --accent-color: #2196f3;
  --text-color: #212121;
}

body address {
  font-family: Roboto, sans-serif;
  font-style: normal;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}
/* header */
header {
  background-color: var(--header-bg-color);
}
.web,
.studio {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}
.web {
  color: #2196f3;
}
.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.nav-link:focus,
.nav-link:hover {
  color: #2196f3;
}
.nav-link.current {
  color: #2196f3;
}
.header-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #757575;
}
.header-contacts:focus,
.header-contacts:hover {
  color: #2196f3;
}
/* hero*/
.hero {
  color: #ffffff;
  background-color: var(--footer-bg-color);
}
/* portfolio-main*/
main {
  background-color: var(--main-bg-color);
}
/* cards buttons */
.buttons {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.73;
  letter-spacing: 0.03em;
  color: var(--text-color);
  background-color: var(--main-bg-color);
}

.button:focus,
.button:hover {
  color: #ffffff;
  background-color: #2196f3;
}
/* portfolio cards*/
.pf-cards h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color);
}

.pf-cards p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}
/*footer*/
footer {
  background-color: var(--footer-bg-color);
}
.f-studio {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-contacts {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
